<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta name="author" content="shubhamrindhe" id="author" />
	<link rel="stylesheet" href="stylesheets/terminal.css" type="text/css" />

	<script type='text/javascript' src='../scripts/drager.js'></script>

	<script type='text/javascript' src='../scripts/api.github.js'></script>
	<script type='text/javascript' src='../scripts/AJAX.js'></script>
	<script type='text/javascript' src='../js/xhu.js'></script>

	<script type='text/javascript' src='scripts/regex.js'></script>
	<script type='text/javascript' src='scripts/terminalscript.js'></script>
	<script type='text/javascript' src='scripts/e.js'></script>
	<script type='text/javascript' src='scripts/esTERegg.js'></script>
	<title>Terminal</title>

</head>

<body>
	<script>

		function initResize(e) {
			window.addEventListener('mousemove', Resize, false);
			window.addEventListener('mouseup', stopResize, false);
		}
		function Resize(e) {
			document.getElementById('terminal').style.width = (e.clientX - element.offsetLeft) + 'px';
			document.getElementById('terminal').style.height = (e.clientY - element.offsetTop) + 'px';
		}
		function stopResize(e) {
			window.removeEventListener('mousemove', Resize, false);
			window.removeEventListener('mouseup', stopResize, false);
		}

		onload = () => {
			bringMeTerminal('./');
			setTimeout(() => {
				let ctx = document.getElementById('TERMINAL_CANVAS').getContext('2d');
				ctx.fillStyle = 'red'
				// ctx.fillRect(0,0,100,100);
				let canvas = document.getElementById('TERMINAL_CANVAS');

				let rect = document.getElementById('terminal').getBoundingClientRect()
				canvas.width = rect.width
				canvas.height = rect.height
				let a = new MatrixRain(canvas);
				a.start();


				let rs = document.getElementById('rs');
				// rs.addEventListener('mousedown', initResize, false);
				// rs.onmousedown = (e) => {
				// 	alert(e.clientX)
				// }

				resizer(document.getElementById('terminal'), rs)

			}, 100);
		}

		function resizer(element, resizer) {
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			let listener = null
			if (resizer) {
				listener = resizer;
			} else {
				listener = element;
			}

			listener.onmousedown = down;
			listener.onmouseleave = up;
			listener.onmouseout = up;
			listener.onmouseup = up;

			function down(e) {
				pos3 = e.clientX;
				pos4 = e.clientY;
				listener.onmousemove = move;
			}

			function move(e) {
				element.style.width = (e.pageX - element.offsetLeft) + 'px';
				element.style.height = (e.pageY - element.offsetTop) + 'px';
				// element.style.width = (element.offsetLeft - e.clientY) + 'px';
				// element.style.height = (element.offsetTop - e.clientY) + 'px';
			}

			function up() {
				listener.onmouseup = null;
				listener.onmousemove = null;
			}
		}

		class MatrixRain {

			constructor(canvas) {
				this.canvas = canvas;
				this.ctx = canvas.getContext('2d');
				this.loopId = null;
				this.drops = [];
				for (var i = 0; i < 100; ++i) {
					this.drops.push(Math.random() * -200);
				}

				this.timestapm = null;
			}

			start() {
				// this.loop();
				setInterval(() => { this.loop() }, 50);
			}

			loop() {
				// requestAnimationFrame(() => { this.loop() })
				// console.log(0)
				if (this.timestapm == null || new Date() - this.timestapm > 0) {
					this.ctx.fillStyle = 'rgba(0, 0, 0, 0.05)';
					this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);
					this.renderDrops();
					this.update();

					this.timestapm = new Date();
				}

				// this.ctx.fillStyle = 'red';
				// this.ctx.fillRect(100, 100, 100, 100);

				// this.ctx.strokeStyle = 'green';
				// this.ctx.strokeText('A', 100, 100);
			}

			renderDrops() {
				for (let i = 0; i < this.drops.length; ++i) {
					let drop = this.drops[i];
					// console.log(i)
					this.ctx.strokeStyle = 'violet';
					this.ctx.strokeText('अ', i * 10, drop);
					// this.ctx.fillStyle = 'red';
					// this.ctx.fillRect( i * 10, drop, 10, 10);
				}
				// console.clear()
			}

			update() {
				for (let i = 0; i < this.drops.length; ++i) {
					this.drops[i] += 15;
					if (this.drops[i] > this.canvas.height) {
						this.drops[i] = Math.random() * -200;
					}
				}
			}
		}
	</script>
</body>

</html>