
<section id="TERMINAL">
	<header id="terminalHeader">
		<span class="centroid pe-b" id="terminalTitle" title-text="root@rshubham"></span>
		<div id="buttons">
			<button class="close" style="margin:5px 5px;"></button>
			<button class="minimize" style="margin:5px 5px;"></button>
			<button class="maximize" style="margin:5px 5px;"></button>
		</div>
	</header>
	<nav id='nav'>
		<ul>
			<li class="pe-b" title-text="Clear" onclick="document.getElementById('commandHistory').innerHTML = '';"></li>
			<li class="pe-b" title-text="Doodle"></li>
			<li class="pe-b" title-text="Notes"></li>
			<li class="pe-b" title-text="Get Help?" id="gethelp"></li>
		</ul>
	</nav>
	<div class="terminalBody">
		<pre id="ascii-art" class="centroid-fixed" style="display:block;line-height:5px; font-size:5px; font-weight:900;white-space:pre;font-family: monospace;background-color: inherit;"></pre>
		<canvas class="centroid" id="TERMINAL_CANVAS" style="position:fixed;z-index:-50;" onclick="document.getElementById('command').focus();return false;"></canvas>
		<pre id="commandHistory" style="margin:0;"></pre>
		<section id="commandLine">
			<input type='text' type="text" id="command" spellcheck="false" onkeydown='' style="font-family:Courier New;height:30px;margin:0;" />
		</section>
	</div>
	<div id="rs" style="width: 10px; height: 10px; background: red; position: absolute; right: 0; bottom: 0; z-index: 100000000;"></div>
</section>
