
@keyframes ascii-stick-loader{
    0%{
        content:"|";
    }
    25%{
        content:"/";
    }
    50%{
        content:"-";
    }
    75%{
        content:"\\";
    }
    100%{
        content:"|";
    }
}
@keyframes ascii-stick-loader2{
    0%{
        content:"[----]";
    }
    20%{
        content:"[>---]";
    }
    40%{
        content:"[>>--]";
    }
    60%{
        content:"[>>>-]";
    }
    80%{
        content:"[>>>>]";
    }
    100%{
        content:"[----]";
    }
}


