/* @font-face {
	font-family: HACKED;
	src: url("../assets/fonts/HACKED.ttf");
}

@font-face {
	font-family: MajorMono;
	src: url("../assets/fonts/MajorMono.ttf");
} */

@font-face {
	font-family: "Short Stack";
	src: url("https://fonts.gstatic.com/s/shortstack/v10/bMrzmS2X6p0jZC6EcmPFX9SVe34.woff2") format("woff2");
	/* src: url(basic-sans-serif.ttf) format("truetype"); */
}