.loader{
    position:relative;
}
.loader:before{
    content:'';
    position:absolute;
	top:50%;
	left:50%;
    width:20px;
    height:20px;

    border-radius:50%;
    border: 3px solid rgba(255,255,255,0);
    border-top-color: currentColor;
    border-bottom-color: currentColor;

    animation : RotateAClk 1s infinite linear;
}

/* body.darkmode .loader:before{
	border-top-color:white;
    border-bottom-color:white;
} */

.loader:after{
    content:'';
    position:absolute ;
	top:50%;
	left:50%;
    width:10px;
    height:10px;

    border-radius:50%;
    border: 3px solid rgba(255,255,255,0);
    border-top-color: currentColor;
    border-bottom-color: currentColor;

    animation : RotateClk .5s infinite linear;
}


/* body.darkmode .loader:after{
	border-top-color:white;
    border-bottom-color:white;
} */


@keyframes shadow-pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(255,255,255,.5);
    }
    25%{
        box-shadow: 0 0 0 10px rgba(0,0,0 ,.5);
    }
    50%{
        box-shadow: 0 0 0 30px rgba(0,0,0,.3);
    }
    75%{
        box-shadow: 0 0 0 30px rgba(0,0,0,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}

@keyframes RotateClk{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes RotateAClk{
    0%{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    100%{
        transform:translate(-50%,-50%) rotate(-360deg);
    }

}