.card{
	width:300px;
	height:200px;
	padding:15px 15px;
	font-family:Courier New;
	border-radius:5px;
	display:inline-block;
}
.card .repo-name a{
	text-decoration:none;
	color:#000;
}
body.darkmode .card .repo-name a{
	color:#fff;
}
.card div{
	padding:10px 10px;
}

.card .tags .tag{
	padding:3px 3px;
	border-radius:2px;
	background:#6a737d;
}
.card .details .lang .lang-code{
	width:5px;
	height:5px;
	padding:0 0;
	border-radius:50%;
	background:yellow;
}