	body{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.centroid{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.centroid-rel{
		position:relative;
		top:20%;
		left:20%;
	}
	.centroid-fixed{
		position:fixed;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.fluid{
		position:absolute;
		width:100%;
		height:100%;
	}
	
	#terminalIcon{
		position:absolute;
		
		width:30px;
		height:30px;
		bottom:10px;
		right:10px;
		display:block;
		background:black;
		color:#fff;
		
		font-weight:bold;
	}
	#terminalIcon:hover{
		color:#0f0;
	}
	
	#terminal{
		position:absolute;
		width:60%;
		height:60%;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		overflow:hidden;
		font-family:"Courier New";
		min-width:250px;
		font-size:small;
		
		border-radius : 8px; 
		
		background:rgba(0,0,0,1);
		/*border:2px solid lightgrey;*/
		
		resize: both;
		
	}
	
/*	
::select{
		background: #0080FF;
  text-shadow: none;
	}
*/
	#terminal header{
		position:absolute;
		height:40px;
		top:0;
		left:0;
		width:100%;
		background:lightgrey;
		
		
	}
	#terminal .terminalBody{
		position:absolute;
		bottom:0;
		height:calc(100% - 60px);
		width:100%;
		
		overflow-y:scroll;
	}
	#terminal header #closeTerminal{
		position:absolute;
		/*right:0;*/
		
		background:lightgrey;
		
		
		/*
		display:flex-box;
		justify-content:center;
		align-items:center;
		text-align:center;

		vertical-align:middle;*/
		width:40px;
		height:100%;
		float:left;
		
		
		border-radius:50%;
		
		
	}
	
	#closeTerminal{
	
	}
	
	#terminal header #closeTerminal:hover{
		background:#dd4b39;
		color:#fff;
	}
	
	
	#terminal #terminalBody{
		background:rgba(0,0,0,1);
	}
	
	#terminal #ascii-art{
		font-family:Courier New;
		font-size:x-small;
		color:lightblue;
		z-index:-100;
		overflow:hidden;
	}
	
	/*
	#commandPtr{
		color:#fff;
		font-weight:bold;
		font-size:small;
		border:1px solid lightgrey;
	}
	*/
	
	#commandLine{	
		width:100%;
		height:40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	#buttons{
		width:100px;
		height:100%;
		/*background:#0f0;*/
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	
	#buttons button{
		padding: 0;
		margin: 0;
		margin-right: 4px;
		width: 20px;
		height: 20px;
		background-color: gainsboro;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		color: rgba(0, 0, 0, 0.5);
		text-align:center;
		vertical-align:center;
		
		
		display: flex;
		justify-content: center;
		align-items: center;
		
	}

#buttons .close {
  background-color: #ff6159;
}


#buttons .close:hover .close:before{
	content: "x";
}

#buttons .minimize {
  background-color: #ffbf2f;
}
#buttons .maximize {
  background-color: #25cc3e;
}
	
	
	
	#commandHistory{
		/*color:#0f0;*/
		padding-left:10px;
		font-size:medium;
		z-index:10;
		
		
		color: limegreen;
		/*
		text-shadow: 0px 0px 2px limegreen;
		*/
		font-family: monospace !important;
		font-weight: bold;
		font-size: 2.1vh;
		line-height: 1;
		/*margin: 0;
		padding: 0;*/
		
		
		
		
		display:block;
	}
	#commandPtr{
		font-weight:bold;
		
		
		color: limegreen;
		text-shadow: 0px 0px 2px limegreen;
		font-family: monospace !important;
		font-weight: bold;
		font-size: 2.1vh;
		line-height: 1;
		
		/*border:1px solid lightgrey;*/
	}
	#command{
		border:none;
		resize: none;
		background:none;
		outline:none;
		position:absolute;
		width:90%;
		/*height:100%;*/
		color:#0f0;
		overflow-y:hidden;
		
		color: limegreen;
		text-shadow: 0px 0px 2px limegreen;
		font-family: monospace !important;
		font-weight: bold;
		font-size: 2.1vh;
		line-height: 1;
	}
	
	
	.blink{
		animation: blink 1s infinite;
	}
	
	@keyframes blink{
		0%{
			opacity :1;
		}
		50%{
			opacity :0;
		}
		
		100%{
			opacity :1;
		}
	}

	#terminal nav{
		position:absolute;
		left:0;
		top:40px;
		width:100%;
		/*background:rgba(255,0,0,1);*/
	}
	#terminal nav ul{
		margin:0;
		padding:0;
		display:flex;
		width:100%;
	}

	#terminal nav ul li{
		list-style:none;
	}
	#terminal nav ul li a{
		height:20px;
		line-height:20px;
		padding:0 10px;
		color:lightblue;/*#0f0;*/
		text-decoration:none;
		display:block;
	} 
	#terminal nav ul li a:hover{
		color:#000;
		background:#fff;/*#2196f3;*/
	}
	
	#gethelp{
		float:right;
		position:absolute;
		right:0;
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
/*	
.codeBlock:hover{
	background-color: rgba(180,180,180,0.3);
	border:2px solid rgba(180,180,180,0.9);
	border-radius:10px;
	padding:2px;
	margin:3px;
	transform:scale(1.01);
	transition-duration:0.1s;
}
*/






/*
input[type="checkbox"]:not(:checked)+label:after{
	content:"{...}";
	display : block; 
	position:relative;
	left:100%;
}
input[type="checkbox"]:checked+label:after{
	content:"{...}";
	display : none;
}
*/

/*
input[type="checkbox"]:not(:checked) + em {
	display : block;
}
input[type="checkbox"]:checked + em {
	display : none;
}*/



input[type="checkbox"]{
	display : none;
}

input[type="checkbox"]{
	transition-duration:0.1s;
}

input[type="checkbox"]:not(:checked){
	
}
input[type="checkbox"](:checked){
	
}

input[type="checkbox"]:not(:checked) + label + .codeBlock{
	display : none;
}
input[type="checkbox"]:checked + label + .codeBlock{
	display : block;
}

.blockLabel{
	display:inline-block;
	padding:1px 5px;
	border:1px solid rgba(255,255,255,0.8);
	color:#fff;
	background:rgba(0,0,0,0.3);
	border-radius:5px;
	
	z-index:100000;
}

.blockLabel:hover{
	background:rgba(0,0,0,0.8);
	color:#fff;	
}

input[type="checkbox"]:checked + label:before{
	font-family:Courier New;
	display:block;
	content:" - ";
}

input[type="checkbox"]:not(:checked) + label:before{
	font-family:Courier New;
	display:block;
	content:"{...}";
}
	
	
	
	