#terminalIcon:hover {
	color: #0f0;
}

#terminal {
	position: absolute;
	width: 60%;
	height: 60%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	font-family: "Courier New";
	min-width: 250px;
	font-size: small;
	background: rgba(0, 0, 0, 1);
	resize: both;
}

#terminal #terminalTitle:before {
	content: attr(title-text);
}

#terminal header {
	position: absolute;
	height: 40px;
	top: 0;
	left: 0;
	width: 100%;
	background: lightgrey;
}

#terminal .terminalBody {
	position: absolute;
	bottom: 0;
	height: calc(100% - 60px);
	width: 100%;
}

.terminalBody {
	overflow-y: scroll;
}

#terminal header #closeTerminal {
	position: absolute;
	background: lightgrey;
	width: 40px;
	height: 100%;
	float: left;
	border-radius: 50%;
}

#terminal header #closeTerminal:hover {
	background: #dd4b39;
	color: #fff;
}

#terminal #terminalBody {
	background: rgba(0, 0, 0, 1);
}

#terminal #ascii-art {
	font-family: Courier New;
	font-size: x-small;
	color: lightblue;
	z-index: -100;
	overflow: hidden;
}

#commandLine {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#commandLine::before {
	content: '$';
	margin-left: 5px;
	margin-right: 5px;
	font-weight: 900;
	font-size: large;
	color: limegreen;
	text-shadow: 0px 0px 2px limegreen;
}

#buttons {
	width: 100px;
	height: 100%;
	/*background:#0f0;*/
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	float: right;
}

#buttons button {
	padding: 0;
	margin: 0;
	margin-right: 4px;
	width: 20px;
	height: 20px;
	background-color: gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	vertical-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

#buttons .close {
	background-color: #ff6159;
}


#buttons .close:hover .close:before {
	content: "x";
}

#buttons .minimize {
	background-color: #ffbf2f;
}

#buttons .maximize {
	background-color: #25cc3e;
}



#commandHistory {
	/*color:#0f0;*/
	padding-left: 10px;
	font-size: medium;
	z-index: 10;
	color: limegreen;
	font-family: monospace !important;
	font-weight: bold;
	font-size: 2.1vh;
	line-height: 1;
	display: block;
}

#command {
	border: none;
	resize: none;
	background: none;
	outline: none;
	width: 100%;
	color: #0f0;
	overflow-y: hidden;

	color: limegreen;
	text-shadow: 0px 0px 2px limegreen;
	font-family: monospace !important;
	font-weight: bold;
	font-size: 2.1vh;
	line-height: 1;
}

#terminal nav {
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
}

#terminal nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
}

#terminal nav ul li {
	list-style: none;
}

#terminal nav ul li a {
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: lightblue;
	text-decoration: none;
	display: block;
}

#terminal nav ul li a:hover {
	color: #000;
	background: #fff;
}

#gethelp {
	float: right;
	position: absolute;
	right: 0;
}