.ascii-loader:after{
    content:"0b11111001110.0b110.0b1011";
    display:block;
    font-family:Couriar New;
    font-weight:900;
    font-size:20px;
    font-family:Courier New;
    animation: ascii-stick-loader3 1000ms 9000ms forwards/*steps(1, end)*/   ;
}

.glitch:after{
	content:"0b11111001110.0b110.0b1011";
    display:block;
    font-weight:900;
    font-family:Courier New;
    animation: ester-egg-1 1000ms 1000ms forwards;
}
@keyframes ester-egg-1{
	/*
	1998 : 0b11111001110.0b110.0b1011
	06 : 0b110
	11 : 0b1011
	*/
    0%{
        content:"shubhamrindhe.github.io";
    }
	5%{
        content:"0b11111001110.0b110.0b1011";
    }
	10%{
        content:"b11111001110.b110.b1011";
    }
    15%{
        content:"b11111001110b.110b.1011";
    }
    20%{
        content:"51-111001110b.110b1.011";
    }
    25%{
        content:"5H111100!110b.110b10.!0";
    }
	30%{
        content:"$hubh@mrinbhe.9!thub.!0";
    }
	35%{
        content:"$hubh@mrinbhe.g1thub.!0";
    }
	40%{
        content:"$hubh@mrinbhe.github.io";
    }
	45%{
        content:"shubh@mrinbhe.github.io";
    }
	50%{
        content:"shubh@mrinbhe.github.io";
    }
    55%{
        content:"shubhamrindhe.github.io";
    }
    60%{
        content:"$hvdh@wr!nbhe.9!+hud.!0";
    }
    65%{
        content:"$hudh@wr1nbhe.9!+hud.!0";
    }
    70%{
        content:"$hudh@mr1nbhe.9!+hub.!0";
    }
    75%{
        content:"$hudh@mrinbhe.9!thub.!0";
    }
	75%{
        content:"$hubh@mrinbhe.9!thub.!o";
    }
	80%{
        content:"$hubh@mrinbhe.g1thub.!o";
    }
	85%{
        content:"$hubh@mrinbhe.github.io";
    }
	90%{
        content:"shubh@mrinbhe.github.io";
    }
	95%{
        content:"$hubh@mr1nbhe.gi+hub.1o";
    }
    100%{
        content:"shubhamrindhe.github.io";
    }
}




@keyframes ascii-stick-loader{
    0%{
        content:"|";
    }
    25%{
        content:"/";
    }
    50%{
        content:"-";
    }
    75%{
        content:"\\";
    }
    100%{
        content:"|";
    }
}
@keyframes ascii-stick-loader2{
    0%{
        content:"[----]";
    }
    20%{
        content:"[>---]";
    }
    40%{
        content:"[>>--]";
    }
    60%{
        content:"[>>>-]";
    }
    80%{
        content:"[>>>>]";
    }
    100%{
        content:"[----]";
    }
}


