	body{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	.centroid{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.centroid-rel{
		position:relative;
		top:20%;
		left:20%;
	}
	.centroid-fixed{
		position:fixed;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.fluid{
		position:absolute;
		width:100%;
		height:100%;
	}
	
	#terminalIcon{
		position:absolute;
		
		width:30px;
		height:30px;
		bottom:10px;
		right:10px;
		display:block;
		background:black;
		color:#fff;
		
		font-weight:bold;
	}
	#terminalIcon:hover{
		color:#0f0;
	}
	
	#terminal{
		position:absolute;
		width:60%;
		height:60%;
		left:50%;
		top:50%;
		transform:translate(-50%,-50%);
		overflow:hidden;
		font-family:"Courier New";
		min-width:250px;
		font-size:small;
		
		/*background:rgba(0,0,0,1);*/
		
		/*border:2px solid lightgrey;*/
		
		resize: both;
	}
	#terminal header{
		position:absolute;
		height:40px;
		top:0;
		left:0;
		width:100%;
		background:lightgrey;
	}
	#terminal .terminalBody{
		position:absolute;
		bottom:0;
		height:calc(100% - 60px);
		width:100%;
		
		overflow-y:scroll;
	}
	#terminal header #closeTerminal{
		position:absolute;
		right:0;
		
		background:lightgrey;
		
		
		/*
		display:flex-box;
		justify-content:center;
		align-items:center;
		text-align:center;

		vertical-align:middle;*/
		width:40px;
		height:100%;
		float:right;
		
		
	}
	
	#closeTerminal{
	
	}
	
	#terminal header #closeTerminal:hover{
		background:#dd4b39;
		color:#fff;
	}
	
	
	#terminal #ascii-art{
		font-family:Courier New;
		font-size:x-small;
		color:lightblue;
		z-index:-100;
		overflow:hidden;
	}
	
	/*
	#commandPtr{
		color:#fff;
		font-weight:bold;
		font-size:small;
		border:1px solid lightgrey;
	}
	*/
	
	#commandHistory{
		color:#0f0;
		padding-left:10px;
		font-size:medium;
		z-index:10;
		
		display:block;
	}
	#commandPtr{
		color:#fff;
		font-weight:bold;
		font-size:small;
		border:1px solid lightgrey;
	}
	#command{
		border:1px solid red;
		resize: none;
		background:none;
		outline:none;
		position:absolute;
		width:90%;
		/*height:100%;*/
		color:#0f0;
		overflow-y:hidden;
	}
	
	
	
	.blink{
		animation: blink 1s infinite;
	}
	
	@keyframes blink{
		0%{
			opacity :1;
		}
		50%{
			opacity :0;
		}
		
		100%{
			opacity :1;
		}
	}

	nav{
		position:absolute;
		left:0;
		top:40px;
		width:100%;
		/*background:rgba(0,0,0,1);*/
	}
	nav ul{
		margin:0;
		padding:0;
		display:flex;
	}

	nav ul li{
		list-style:none;
	}
	nav ul li a{
		height:20px;
		line-height:20px;
		padding:0 10px;
		color:lightblue;/*#0f0;*/
		text-decoration:none;
		display:block;
	} 
	nav ul li a:hover{
		color:#000;
		background:#fff;/*#2196f3;*/
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
/*	
.codeBlock:hover{
	background-color: rgba(180,180,180,0.3);
	border:2px solid rgba(180,180,180,0.9);
	border-radius:10px;
	padding:2px;
	margin:3px;
	transform:scale(1.01);
	transition-duration:0.1s;
}
*/






/*
input[type="checkbox"]:not(:checked)+label:after{
	content:"{...}";
	display : block; 
	position:relative;
	left:100%;
}
input[type="checkbox"]:checked+label:after{
	content:"{...}";
	display : none;
}
*/

/*
input[type="checkbox"]:not(:checked) + em {
	display : block;
}
input[type="checkbox"]:checked + em {
	display : none;
}*/



input[type="checkbox"]{
	display : none;
}

input[type="checkbox"]{
	transition-duration:0.1s;
}

input[type="checkbox"]:not(:checked) + label + .codeBlock{
	display : none;
}
input[type="checkbox"]:checked + label + .codeBlock{
	display : block;
}

.blockLabel{
	display:inline-block;
	padding:1px 5px;
	border:1px solid rgba(0,0,0,0.8);
	color:rgba(0,0,0,1);
	background:rgba(0,0,0,0.3);
	border-radius:5px;
}

.blockLabel:hover{
	background:rgba(0,0,0,0.8);
	color:#fff;	
}

input[type="checkbox"]:checked + label:before{
	display:block;
	content:" - ";
}

input[type="checkbox"]:not(:checked) + label:before{
	display:block;
	content:"{...}";
}
	
	
	
	