body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:none;
	/*overflow:hidden;*/
	min-height:100%;
	
	transition:0.3s;
}

body.darkmode{
	background:black;
}

body.darkmode *{
	color:#fff;
}

.active{
	display:block;
}
.dactive{
	display:none;
}




.centroid-rel{
	position:relative;
	/*top:50%;
	left:50%;
	*/
	transform:translate(0%,0%);
}
.centroid-fixed{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.blink{
	animation: blink 1s infinite;
}
	
@keyframes blink{
	0%{
		opacity :1;
	}
	50%{
		opacity :0;
	}
	100%{
		opacity :1;
	}
}

#ascii-art{
	z-index:-100;
	display:none;
	line-height:8px;
	font-size:8px;
	font-weight:bold;
	white-space:pre;
	font-family: monospace;
	color: #000;
	background: #fff;
}

body.darkmode #ascii-art{
	/*
	z-index:-100;
	display:block;
	line-height:8px;
	font-size:8px;
	font-weight:bold;
	white-space:pre;
	font-family: monospace;
	*/
	color: #fff;
	background: #000;
}


header.mainHeader{
	/*position:absolute;
	left:0;
	top:0;*/
	padding:0 100px;
	background:none;
	width:100%;
	height:55px;
	box-sizing:border-box;
	z-index:100;
}
header.mainHeader .logo{
	height:50%;
	line-height:50px;
	font-size:18px;
	float:left;
	font-weight:bold;
}
/*
body.darkmode .logo{
	color:#fff;
}
*/
header.mainHeader{
	z-index:100;
}

header.mainHeader span{
	height:50%;
	line-height:50px;
	font-size:18px;
	float:left;
	font-weight:bold;
}

header.mainHeader nav {
	float:right;
}
header.mainHeader nav ul{
	margin:0;
	padding:0;
	display:flex;
}
header.mainHeader nav ul li{
	list-style:none;
}
header.mainHeader nav ul li a{
	height:50px;
	line-height:50px;
	padding:0 20px;
	text-decoration:none;
	color:inherit;
	display:block;
}
/*
body.darkmode header nav ul li a{
	color:#fff;
}
*/


header.mainHeader nav ul li a:hover{
	color:#fff;
	/*background:#2196f3;*/
	background:#00bcd4;
}
.menu-toggle{
	color:#fff;
	float:right;
	line-height:50px;
	font-size:24px;
	cursor:pointer;
	display:none;
}


#container{
	min-height:calc(100vh - 105px) !important;
	margin:0 20px;
	z-index:50;
}

#ajax_indicator {
	/*height:calc(100vh - 105px) !important;*/
	font-size:40px;
	
	
}
/
#ajax_indicator.active {
	width:10px;
    height:10px;
    border-radius:50%;
    animation: shadow-pulse 1.5s infinite ;
	padding:0;
	margin:0;
}

	
	/*
	ul li:nth-child(1) a i:nth-child(1){
		color:#dd4b39;
	}
	ul li:nth-child(2) a i:nth-child(1){
		color:#24292e;
	}
	ul li:nth-child(3) a i:nth-child(1){
		color:#00aced;
	}
	*/
			
@media(max-width:991px){
	header.mainHeader{
		padding:0 20px;
	}
	header.mainHeader .logo{
		height:50%;
		line-height:50px;
		font-size:15px;
		float:left;
		font-weight:bold;
	}
	header.mainHeader .blink{
		font-size:15px;
	}
	
	header.mainHeader nav ul{
		display:block;
		text-align:center;
	}
	
	.menu-toggle{
		/*top:0;*/
		/*float:right;*/
		color:#000;
		display:flex;
		/*width:auto;
		height:auto;*/
	}
	
	.menu-toggle span{
		display:flex-box;
		justify-content:center;
		align-items:center;
		text-align:center;
	}
	
	body.darkmode .menu-toggle{
		color:#fff;
	}
	
	#toggle-nav[type="checkbox"]:checked + nav{
		/*position:absolute;*/
		width:100%;
		height:calc(100vh-50px);
		background:none;
		top:50px;
		left:0;
		opacity:1;
		transition:0.2s;
	}
	#toggle-nav[type="checkbox"]:not(:checked) + nav{
		position:absolute;
		width:100%;
		height:calc(100vh-50px);
		background:none;
		color:#fff;
		/*top:50px;
		left:200%;*/
		opacity:0;
		display:none;
		transition:0.2s;
	}
	
	a{
		color:#fff;
	}
	
	#ascii-art span{
		display:none;
	}
	
	
	ul.social li a{
		/*
		width:30px;
		height:30px;
		*/
	}
	
}


/*
@media(max-width:500px){
	#ascii-art span{
		display:block;
		line-height:3px;
		font-size:3px;
		font-weight:bold;
		white-space:pre;
		font-family: monospace;
		color: white;
		background: black;
	}
	
}
*/





	





/*
	ICONS
*/
.icon-ham{
	/*position:absolute;*/
	background-color:#fff;
		
	/*top:50%;*/
	width:20px;
	height:3px;
	/*transform:translate(-50%,-50%);*/
	cursor:pointer;
	display:block;
}
.icon-ham:before{
	content:'';
	position:absolute;
	background-color:inherit;
	top:7px;
	width:20px;
	height:3px;
	/*transform:translateY(-50%);*/
	display:block;
}
.icon-ham:after{
	content:'';
	/*position:absolute;*/
	background-color:inherit;
	top:-7px;
	width:20px;
	height:3px;
	/*transform:translateY(-50%);*/
	display:block;
}








.typed::after {
			content: '|';
			display: inline;
			-webkit-animation: blink 0.7s infinite;
			-moz-animation: blink 0.7s infinite;
			animation: blink 0.7s infinite;
		}

.typed-cursor{
		   opacity: 0;
			display: none;
		}
		/*Custom cursor animation*/
		@keyframes blink{
			0% { 
				opacity:1;
				color: limegreen;
				text-shadow: 0px 0px 10px limegreen;
			}
			50% { 
				opacity:0;
				color: limegreen;
				text-shadow: 0px 0px 0px limegreen;
			}
			100% { 
				opacity:1; 
				color: limegreen;
				text-shadow: 0px 0px 10px limegreen;
			}
		}
		@-webkit-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		@-moz-keyframes blink{
			0% { opacity:1; }
			50% { opacity:0; }
			100% { opacity:1; }
		}
		