
body {
	font-family: "Short Stack";
	background: none;
	transition: 0s;
}

body.darkmode {
	background: var(--bgColor, black);
}

body.darkmode {
	color: var(--color, white);;
}

.active {
	display: block;
}

.dactive {
	display: none;
}

.blink {
	animation: blink 1s infinite;
}

a {
	cursor: pointer;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#ascii-art {
	z-index: -100;
	display: none;
	line-height: 8px;
	font-size: 8px;
	font-weight: bold;
	white-space: pre;
	font-family: monospace;
	color: #000;
	background: #fff;
}

body.darkmode #ascii-art {
	/*
	z-index:-100;
	display:block;
	line-height:8px;
	font-size:8px;
	font-weight:bold;
	white-space:pre;
	font-family: monospace;
	*/
	color: #fff;
	background: #000;
}


header.mainHeader {
	/*position:absolute;
	left:0;
	top:0;*/
	padding: 0 100px;
	background: none;
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	z-index: 100;
}

header.mainHeader .logo {
	height: 50%;
	line-height: 50px;
	font-size: 18px;
	float: left;
	font-weight: bold;
}

header.mainHeader #logo::before {
	/* content: "0b11111001110.0b110.0b1011"; */
	content: '';
	display: inline-block;
	font-weight: 900;
	font-family: Courier New;
	/* font-family: "Short Stack"; */
	animation: ester-egg-2 1000ms 1000ms forwards;
}

header.mainHeader #logo::after {
	content: "_";
	display: inline-block;
	font-weight: 900;
	font-family: Courier New;
	color: green;
	animation: blink 1s infinite;
	text-shadow: 0px 0px 5px limegreen;
}

/*
body.darkmode .logo{
	color:#fff;
}
*/
header.mainHeader {
	z-index: 100;
}

header.mainHeader span {
	height: 50%;
	line-height: 50px;
	font-size: 18px;
	float: left;
	font-weight: bold;
}

header.mainHeader nav {
	float: right;
}

header.mainHeader nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header.mainHeader nav ul li {
	list-style: none;
}

header.mainHeader nav ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	text-decoration: none;
	color: inherit;
	display: block;
}

header.mainHeader nav ul li:last-child a {
	padding: 0;
	min-width: 50px;
}

/*
body.darkmode header nav ul li a{
	color:#fff;
}
*/


header.mainHeader nav ul li:not(:last-child) a:hover {
	color: #fff;
	/*background:#2196f3;*/
	/* background: #00bcd4; */
	background: #7756ff;
}

.menu-toggle {
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

/* DARKMODE */

/* label[for="RootThemeSwitch"]:active {
	background: currentColor;
	opacity: 0.1;
	z-index: -1;
} */

input[type="checkbox"].RootThemeSwitch {
	--size: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	width: var(--size);
	height: var(--size);
	box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.3) 0;
	border-radius: 999px;
	color: #e6e6ff;
	transition: all 500ms;
}

input[type="checkbox"].RootThemeSwitch:checked {
	--ray-size: calc(var(--size) * -0.38);
	--offset-orthogonal: calc(var(--size) * 0.65 * 1.2);
	--offset-diagonal: calc(var(--size) * 0.45 * 1.2);
	transform: scale(0.75);
	color: #ff4c00;
	/* orange; */
	/*#ffaa00;*/
	box-shadow: inset 0 0 0 var(--size),
		calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
		var(--offset-orthogonal) 0 0 var(--ray-size),
		0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
		0 var(--offset-orthogonal) 0 var(--ray-size),
		calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
		var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
		calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
		var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.cxy {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

/**/


#container {
	min-height: calc(100vh - 105px) !important;
	margin: 0 20px;
	z-index: 50;
}

#ajax_indicator {
	/*height:calc(100vh - 105px) !important;*/
	font-size: 40px;


}

/*
#ajax_indicator.active {
	width:10px;
    height:10px;
    border-radius:50%;
	display: block;
    animation: shadow-pulse 1.5s infinite ;
	padding:0;
	margin:0;
}
*/
#ajax_indicator.active:after {
	content: '';
	display: block;
	font-weight: 900;
	font-family: Courier New;
	animation: ascii-stick-loader 200ms infinite;
}



/*
	ul li:nth-child(1) a i:nth-child(1){
		color:#dd4b39;
	}
	ul li:nth-child(2) a i:nth-child(1){
		color:#24292e;
	}
	ul li:nth-child(3) a i:nth-child(1){
		color:#00aced;
	}
	*/

@media(max-width:991px) {
	header.mainHeader {
		padding: 0 20px;
	}

	header.mainHeader .logo {
		height: 50%;
		line-height: 50px;
		font-size: 15px;
		float: left;
		font-weight: bold;
	}

	header.mainHeader .blink {
		font-size: 15px;
	}

	header.mainHeader nav ul {
		display: block;
		text-align: center;
	}

	.menu-toggle {
		/*top:0;*/
		/*float:right;*/
		color: #000;
		display: flex;
		/*width:auto;
		height:auto;*/
	}

	.menu-toggle span {
		display: flex-box;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	body.darkmode .menu-toggle {
		color: #fff;
	}

	#toggle-nav[type="checkbox"]:checked+nav {
		/*position:absolute;*/
		width: 100%;
		height: calc(100vh-50px);
		background: none;
		top: 50px;
		left: 0;
		opacity: 1;
		transition: 0.2s;
	}

	#toggle-nav[type="checkbox"]:not(:checked)+nav {
		position: absolute;
		width: 100%;
		height: calc(100vh-50px);
		background: none;
		color: #fff;
		/*top:50px;
		left:200%;*/
		opacity: 0;
		display: none;
		transition: 0.2s;
	}

	a {
		color: #fff;
	}

	#ascii-art span {
		display: none;
	}


	ul.social li a {
		/*
		width:30px;
		height:30px;
		*/
	}

}


/*
@media(max-width:500px){
	#ascii-art span{
		display:block;
		line-height:3px;
		font-size:3px;
		font-weight:bold;
		white-space:pre;
		font-family: monospace;
		color: white;
		background: black;
	}

}
*/











/*
	ICONS
*/
.icon-ham {
	/*position:absolute;*/
	background-color: #fff;

	/*top:50%;*/
	width: 20px;
	height: 3px;
	/*transform:translate(-50%,-50%);*/
	cursor: pointer;
	display: block;
}

.icon-ham:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 7px;
	width: 20px;
	height: 3px;
	/*transform:translateY(-50%);*/
	display: block;
}

.icon-ham:after {
	content: '';
	/*position:absolute;*/
	background-color: inherit;
	top: -7px;
	width: 20px;
	height: 3px;
	/*transform:translateY(-50%);*/
	display: block;
}








.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

.typed-cursor {
	opacity: 0;
	display: none;
}

/*Custom cursor animation*/
@keyframes blink {
	0% {
		opacity: 1;
		color: limegreen;
		text-shadow: 0px 0px 10px limegreen;
	}

	50% {
		opacity: 0;
		color: limegreen;
		text-shadow: 0px 0px 0px limegreen;
	}

	100% {
		opacity: 1;
		color: limegreen;
		text-shadow: 0px 0px 10px limegreen;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes ester-egg-1 {

	/*
	1998 : 0b11111001110.0b110.0b1011
	06 : 0b110
	11 : 0b1011
	*/
	0% {
		content: "shubhamrindhe.github.io";
	}

	5% {
		content: "0b11111001110.0b110.0b1011";
	}

	10% {
		content: "b11111001110.b110.b1011";
	}

	15% {
		content: "b11111001110b.110b.1011";
	}

	20% {
		content: "51-111001110b.110b1.011";
	}

	25% {
		content: "5H111100!110b.110b10.!0";
	}

	30% {
		content: "$hubh@mrinbhe.9!thub.!0";
	}

	35% {
		content: "$hubh@mrinbhe.g1thub.!0";
	}

	40% {
		content: "$hubh@mrinbhe.github.io";
	}

	45% {
		content: "shubh@mrinbhe.github.io";
	}

	50% {
		content: "shubh@mrinbhe.github.io";
	}

	55% {
		content: "shubhamrindhe.github.io";
	}

	60% {
		content: "$hvdh@wr!nbhe.9!+hud.!0";
	}

	65% {
		content: "$hudh@wr1nbhe.9!+hud.!0";
	}

	70% {
		content: "$hudh@mr1nbhe.9!+hub.!0";
	}

	75% {
		content: "$hudh@mrinbhe.9!thub.!0";
	}

	75% {
		content: "$hubh@mrinbhe.9!thub.!o";
	}

	80% {
		content: "$hubh@mrinbhe.g1thub.!o";
	}

	85% {
		content: "$hubh@mrinbhe.github.io";
	}

	90% {
		content: "shubh@mrinbhe.github.io";
	}

	95% {
		content: "$hubh@mr1nbhe.gi+hub.1o";
	}

	100% {
		content: "shubhamrindhe.github.io";
	}
}

@keyframes ester-egg-2 {
	5% {
		content: "r";
	}
	10% {
		content: "ro";
	}
	15% {
		content: "roo";
	}
	20% {
		content: "root";
	}
	25% {
		content: "root@";
	}
	30% {
		content: "root@s";
	}
	35% {
		content: "root@sh";
	}
	40% {
		content: "root@shu";
	}
	45% {
		content: "root@shub";
	}
	50% {
		content: "root@shubh";
	}
	55% {
		content: "root@shubha";
	}
	60% {
		content: "root@shubham";
	}
	65% {
		content: "root@shubhamr";
	}
	70% {
		content: "root@shubhamri";
	}
	75% {
		content: "root@shubhamrin";
	}
	80% {
		content: "root@shubhamrind";
	}
	85% {
		content: "root@shubhamrindh";
	}
	90% {
		content: "root@shubhamrindhe";
	}
	100% {
		content: "root@shubhamrindhe";
	}
}